* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:is(a:link, a:visited, a:hover) {
  text-decoration: none;
  color: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

:is(input:active, input:focus, button:active, button:focus) {
  outline: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --color-dark: #2d3033;
  --color-light: #f9fafb;
  --color-accent: #1e293b;
  --section-padding-y: 70px 0;
  --font-family-base: "Carlito", sans-serif;
  --font-family-fluid: "Lacquer", system-ui;
  --swiper-navigation-color: #f9fafb;
  --swiper-pagination-color: #f9fafb;
}
@media (max-width: 991.98px) {
  :root {
    --section-padding-y: 40px 0;
  }
}

@font-face {
  font-family: "Carlito";
  src: url("../../assets/fonts/Carlito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Carlito";
  src: url("../../assets/fonts/Carlito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lacquer";
  src: url("../../assets/fonts/Lacquer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  height: 100%;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}
body._scroll-hidden {
  overflow: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.3;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper main {
  flex: 1 1 auto;
  margin-top: 90px;
}
@media (max-width: 991.98px) {
  .wrapper main {
    margin-top: 70px;
  }
}
.wrapper .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}
.wrapper .title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.wrapper .burger-btn {
  display: none;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  transition: rotate 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .wrapper .burger-btn {
    display: block;
  }
}
.wrapper .burger-btn span {
  position: absolute;
  left: 5px;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: var(--color-light);
  transition: transform 0.3s ease-in-out;
}
.wrapper .burger-btn span:first-child {
  transform: translateY(-10px);
}
.wrapper .burger-btn span:last-child {
  transform: translateY(10px);
}
.wrapper .burger-btn._active-btn {
  rotate: 45deg;
  transition: rotate 0.3s ease-in-out;
}
.wrapper .burger-btn._active-btn span:first-child {
  transform: rotate(90deg) translateY(0px);
}
.wrapper .burger-btn._active-btn span:last-child {
  transform: translateY(0px);
}
.wrapper .swiper {
  width: 800px;
  height: 500px;
}
@media (max-width: 991.98px) {
  .wrapper .swiper {
    width: 100%;
    min-height: 100%;
  }
}
@media (max-width: 575.98px) {
  .wrapper .swiper {
    width: 100%;
    height: 350px;
  }
}
.wrapper .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .wrapper .swiper :is(.swiper-button-prev, .swiper-button-next)::after {
    font-size: 35px;
    padding: 15px;
  }
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: rgba(30, 41, 59, 0.8);
}
@media (max-width: 991.98px) {
  .header {
    height: 70px;
  }
}
.header .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__inner .logo__image {
  position: relative;
  inset: 0;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .header .header__inner .logo__image {
    width: 100px;
  }
}
@media (max-width: 767.98px) {
  .header .header__inner .header__menu {
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: var(--color-accent);
    transition: transform 0.5s ease-in-out;
  }
  .header .header__inner .header__menu._menu-open {
    transform: translateY(100%);
  }
}
.header .header__inner .header__menu .header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .header .header__inner .header__menu .header__menu-list {
    flex-direction: column;
    margin: auto;
    font-size: 32px;
    padding-top: 50px;
  }
}
@media (max-width: 991.98px) {
  .header .header__inner .header__menu .header__menu-list {
    column-gap: 30px;
  }
}
.header .header__inner .header__menu .header__menu-list .header__menu-item .header__menu-link {
  display: inline-flex;
  padding: 15px 0;
  text-transform: uppercase;
  color: #a6abb3;
}
.header .header__inner .header__menu .header__menu-list .header__menu-item .header__menu-link:hover {
  color: var(--color-light);
  transition: color 0.3s ease-in-out;
}
.header .header__inner .header__menu .header__menu-list .header__menu-item ._active-link {
  color: var(--color-light);
}
@media (max-width: 991.98px) {
  .header .header__inner {
    font-size: 14px;
  }
}

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-accent) url("../../assets/images/bg-image.jpg") center/cover no-repeat;
}
@media (max-width: 575.98px) {
  .intro {
    background-position: 65%;
  }
}
.intro .intro__inner {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.intro .intro__inner .intro__title {
  font-family: var(--font-family-fluid);
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: 20px;
  font-size: 90px;
}
@media (max-width: 991.98px) {
  .intro .intro__inner .intro__title {
    font-size: 76px;
  }
}
@media (max-width: 575.98px) {
  .intro .intro__inner .intro__title {
    font-size: 60px;
  }
}
.intro .intro__inner .intro__text {
  color: var(--color-light);
  font-weight: 700;
  font-size: 42px;
  -webkit-text-stroke: 1px #000000;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .intro .intro__inner .intro__text {
    font-size: 32px;
  }
}
@media (max-width: 767.98px) {
  .intro .intro__inner .intro__text {
    font-size: 24px;
  }
}

.about {
  padding: var(--section-padding-y);
  background: url("../../assets/images/backgrounds/01-about.png") 0 100%/12% no-repeat;
}
@media (max-width: 991.98px) {
  .about {
    background-image: none;
  }
}
@media (max-width: 767.98px) {
  .about {
    padding-bottom: 0px;
  }
}
.about .about__inner {
  max-width: 880px;
  margin: 0 auto;
}
.about .about__inner .about__title {
  margin-bottom: 35px;
}
@media (max-width: 991.98px) {
  .about .about__inner .about__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .about .about__inner .about__title {
    margin-bottom: 20px;
  }
}
.about .about__inner .about__text {
  font-size: 18px;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .about .about__inner .about__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.about .about__inner .about__text > p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .about .about__inner .about__text > p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.about .about__inner .about__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.about .about__inner .about__row:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .about .about__inner .about__row:not(:last-child) {
    margin-bottom: 0;
  }
}
.about .about__inner .about__row .about__column {
  width: 50%;
  padding: 0 10px;
}
@media (max-width: 767.98px) {
  .about .about__inner .about__row .about__column {
    width: 100%;
    margin-bottom: 20px;
  }
}
.about .about__inner .about__row .about__column .about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
  min-height: 150px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
}
@media (max-width: 991.98px) {
  .about .about__inner .about__row .about__column .about__card {
    padding: 35px 10px;
  }
}
.about .about__inner .about__row .about__column .about__card-icon {
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .about .about__inner .about__row .about__column .about__card-icon {
    width: 48px;
    font-size: 10px;
  }
}
@media (max-width: 991.98px) {
  .about .about__inner .about__row .about__column .about__card-icon {
    margin-bottom: 15px;
  }
}
.about .about__inner .about__row .about__column .about__card-subtext {
  font-size: 24px;
}
@media (max-width: 991.98px) {
  .about .about__inner .about__row .about__column .about__card-subtext {
    font-size: 18px;
  }
}
.about .about__inner .about__row .about__column .about__card-subtext span {
  font-weight: 700;
}

.trainer {
  padding: var(--section-padding-y);
  background: var(--color-accent) url("../../assets/images/backgrounds/02-trainer.png") 100% 100%/12% no-repeat;
}
@media (max-width: 991.98px) {
  .trainer {
    background-image: none;
  }
}
@media (max-width: 767.98px) {
  .trainer {
    padding-bottom: 25px;
  }
}
.trainer .trainer__inner {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}
.trainer .trainer__inner .trainer__title {
  color: var(--color-light);
  margin-bottom: 35px;
}
@media (max-width: 991.98px) {
  .trainer .trainer__inner .trainer__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .trainer .trainer__inner .trainer__title {
    margin-bottom: 20px;
  }
}
.trainer .trainer__inner .trainer__photo {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .trainer .trainer__inner .trainer__photo {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }
}
.trainer .trainer__inner .trainer__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trainer .trainer__inner .trainer__text {
  color: var(--color-light);
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .trainer .trainer__inner .trainer__text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .trainer .trainer__inner .trainer__text {
    margin-bottom: 15px;
  }
}
.trainer .trainer__inner .trainer__text .trainer__name {
  font-family: "Lacquer", system-ui;
  margin-bottom: 15px;
}
.trainer .trainer__inner .trainer__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trainer .trainer__inner .trainer__video .video__item {
  display: block;
  width: 800px;
  height: 500px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media (max-width: 991.98px) {
  .trainer .trainer__inner .trainer__video .video__item {
    width: 100%;
    min-height: 100%;
  }
}
@media (max-width: 575.98px) {
  .trainer .trainer__inner .trainer__video .video__item {
    height: 400px;
  }
}

.students {
  padding: var(--section-padding-y);
  background: url("../../assets/images/backgrounds/03-students.png") 0% 100%/12% no-repeat;
}
@media (max-width: 991.98px) {
  .students {
    background-image: none;
    padding-bottom: 0;
  }
}
.students .students__inner {
  max-width: 880px;
  margin: 0 auto;
}
.students .students__inner .students__title {
  margin-bottom: 35px;
}
@media (max-width: 991.98px) {
  .students .students__inner .students__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .students .students__inner .students__title {
    margin-bottom: 20px;
  }
}
.students .students__inner .students__text {
  font-size: 18px;
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .students .students__inner .students__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .students .students__inner .students__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.students .students__inner .students__text > p:not(:last-child) {
  margin-bottom: 10px;
}

.contacts {
  padding: var(--section-padding-y);
  background: var(--color-accent) url("../../assets/images/backgrounds/04-contacts.png") 100% 100%/12% no-repeat;
}
@media (max-width: 991.98px) {
  .contacts {
    background-image: none;
  }
}
.contacts .contacts__inner {
  max-width: 880px;
  margin: 0 auto;
}
.contacts .contacts__inner .contacts__title {
  color: var(--color-light);
  margin-bottom: 35px;
}
@media (max-width: 991.98px) {
  .contacts .contacts__inner .contacts__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__title {
    margin-bottom: 20px;
  }
}
.contacts .contacts__inner .contacts__info {
  color: var(--color-light);
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info {
    font-size: 16px;
  }
}
.contacts .contacts__inner .contacts__info .contact__address {
  margin-bottom: 15px;
}
.contacts .contacts__inner .contacts__info .contact__address > p::before {
  content: url("../../assets/images/icons/contacts/location-icon.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  height: auto;
  width: 20px;
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .contact__address > p::before {
    width: 16px;
  }
}
.contacts .contacts__inner .contacts__info .contact__phone {
  margin-bottom: 15px;
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .contact__phone {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .contacts .contacts__inner .contacts__info .contact__phone {
    max-width: 240px;
    margin: 0 auto 15px;
  }
}
.contacts .contacts__inner .contacts__info .contact__phone .phone__link {
  color: var(--color-light);
}
.contacts .contacts__inner .contacts__info .contact__phone .phone__link .viber-icon::before {
  content: url("../../assets/images/icons/contacts/viber-icon.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  height: auto;
  width: 25px;
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .contact__phone .phone__link .viber-icon::before {
    width: 20px;
  }
}
.contacts .contacts__inner .contacts__info .contact__phone .phone__link .telegram-icon::before {
  content: url("../../assets/images/icons/contacts/telegram-icon.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  height: auto;
  width: 22px;
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .contact__phone .phone__link .telegram-icon::before {
    width: 18px;
  }
}
.contacts .contacts__inner .contacts__info .contact__phone > a::before {
  content: url("../../assets/images/icons/contacts/phone-icon.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  height: auto;
  width: 20px;
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .contact__phone > a::before {
    width: 16px;
  }
}
.contacts .contacts__inner .contacts__info .social__media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .contacts__inner .contacts__info .social__media .social__media-item {
  margin: 0 15px;
}
@media (max-width: 991.98px) {
  .contacts .contacts__inner .contacts__info .social__media .social__media-item {
    margin: 0 10px;
  }
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .social__media .social__media-item {
    margin: 0 5px;
  }
}
.contacts .contacts__inner .contacts__info .social__media .social__media-item .social__media-link {
  display: block;
  padding: 10px 13px;
  border-radius: 10px;
}
@media (hover: hover) {
  .contacts .contacts__inner .contacts__info .social__media .social__media-item .social__media-link:hover:hover {
    background-color: rgba(99, 142, 221, 0.2666666667);
    transition: 0.3s ease-in-out;
  }
}
@media (hover: none) {
  .contacts .contacts__inner .contacts__info .social__media .social__media-item .social__media-link:active:hover {
    background-color: rgba(99, 142, 221, 0.2666666667);
    transition: 0.3s ease-in-out;
  }
}
@media (max-width: 767.98px) {
  .contacts .contacts__inner .contacts__info .social__media .social__media-item .social__media-link .social__media-icon {
    width: 30px;
  }
}

.footer {
  padding: 15px 0;
  color: #555555;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 10px 0;
  }
}
.footer .footer__inner {
  max-width: 880px;
  margin: 0 auto;
}
.footer .footer__inner .footer__text {
  text-align: center;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .footer .footer__inner .footer__text {
    font-size: 14px;
  }
}
.footer .footer__inner .footer__text a {
  color: var(--color-dark);
}
.footer .footer__inner .footer__text span {
  font-weight: 700;
}