@font-face {
   font-family: "Carlito";
   src: url("../../assets/fonts/Carlito-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Carlito";
   src: url("../../assets/fonts/Carlito-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lacquer";
   src: url("../../assets/fonts/Lacquer-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
