@import "media";

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   main {
      flex: 1 1 auto;
      margin-top: 90px;

      @include tablets {
         margin-top: 70px;
      }
   }

   .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1230px;
   }

   .title {
      font-size: 36px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
   }

   //burger menu button
   .burger-btn {
      display: none;
      position: relative;
      z-index: 1;
      width: 40px;
      height: 40px;
      transition: rotate 0.3s ease-in-out;

      @include mobile-s {
         display: block;
      }

      & span {
         position: absolute;
         left: 5px;
         top: 50%;
         width: 30px;
         height: 2px;
         background-color: var(--color-light);
         transition: transform 0.3s ease-in-out;
      }

      & span:first-child {
         transform: translateY(-10px);
      }

      & span:last-child {
         transform: translateY(10px);
      }

      &._active-btn {
         rotate: 45deg;
         transition: rotate 0.3s ease-in-out;
      }

      &._active-btn span:first-child {
         transform: rotate(90deg) translateY(0px);
      }

      &._active-btn span:last-child {
         transform: translateY(0px);
      }
   }

   .swiper {
      width: 800px;
      height: 500px;

      @include tablets {
         width: 100%;
         min-height: 100%;
      }

      @include mobile-xs {
         width: 100%;
         height: 350px;
      }

      .swiper-slide img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @include mobile-s {
         :is(.swiper-button-prev, .swiper-button-next)::after {
            font-size: 35px;
            padding: 15px;
         }
      }
   }
}
